@keyframes feedback {
    0%   { transform: translateY(-2000px);  }
    70%  { transform: translateY(40px);     }
    90%  { transform: translateY(-10px);    }
    100% { transform: translateY(0);        }
}

@keyframes error {
    0%, 100%                    { transform: translateX(0);     }
    10%, 30%, 50%, 70%, 90%     { transform: translateX(-10px); }
    20%, 40%, 60%, 80%          { transform: translateX(10px);  }
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    background: #ffffff;
    color: #000000;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.4;
}

.container {
    padding: 0 0px;
    margin: 0 auto;

    width: 880px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: '';
}

.main-header {
    background: #eeeeee;
    font-size: 0;
}

/*----------BUTTON----------*/

.button {
    display: inline-block;
    padding: 10px;
    margin-top: 28px;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;

    text-align: center;

    vertical-align: top;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.button-slider {
    width: 110px;
    padding: 10px 65px;

    background-color: #fb565a;
}

.button-slider:hover {
    background-color: #d6494d;
}

.button-slider:active {
    background-color: #b63538;
}

.features-item .button {
    widht: 140px;
    padding: 10px 40px
}

.button-web {
    background-color: #fb565a;
}

.button-app {
    background-color: #00ca74;
}

.button-present {
    background-color: #efc84a;
}

.button-web:hover {
    background-color: #d6494d;
}

.button-app:hover {
    background-color: #01a25e;
}

.button-present:hover {
    background-color: #d6ae2c;
}

.button-web:active {
    padding-top: 7px;

    background-color: #b63538;
    border-top: 3px solid #9b2d30;
}

.button-app:active {
    padding-top: 7px;

    background-color: #009053;
    border-top: 3px solid #007b47;
}

.button-present:active {
    padding-top: 7px;

    background-color: #c09b24;
    border-top: 3px solid #a3841f;
}

/*----------NAVIGATION----------*/

.main-navigation {
    float: left;
    width: 720px;
}

.index-logo {
    float: left;
    width: 150px;
    height: 56px;
    padding: 27px 170px 47px 0;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.main-navigation li {
    display: inline-block;
    margin: 53px 44px;
    margin-left: 0;

    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    text-transform: uppercase;
    color: #283136;
}

.main-navigation a {
    color: #000000;
    text-decoration: none;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:active {
    color: #8f8f8f;
}

.main-navigation li:last-child {
    margin-right: 0;
}

.cart-block {
    position: relative;

    float: right;
    max-width: 160px;

    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    text-transform: uppercase;
    color: #283136;
}

.cart-block a::before {
    content: "";
    position: absolute;
    right: 77px;
    top: 56px;

    width: 20px;
    height: 20px;
    font-family: "symbols-nerds";
    font-size: 16px;
    line-height: 8px;
    background: url("../img/icon-basket.png")
}

.cart-block a:hover {
    color: #fb565a;
}

.cart-block a:active {
    color: #8f8f8f;
}

.cart {
    display: inline-block;
    padding: 51px 0 50px 90px;

    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    text-transform: uppercase;

    color: #283136;
    text-decoration: none;
}


/*----------FOOTER----------*/

.main-footer {
    padding: 75px 10px;
}

.footer-social {
    float: left;
    width: 240px;
    margin-right: 70px;
}

.social-item {
    display: inline-block;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #000000 url("../img/sprite.png") no-repeat;

    font-size: 0;
    text-decoration: none;

    vertical-align: top;

    background-color: #e0e0e0;
}

.social-item:last-child {
    margin-right: 0;
}

.social-vk {
    background-position: 2px -205px;
}

.social-fb {
    background-position: 9px -4px;
}

.social-inst {
    background-position: 5px -104px;
}

.social-item:hover {
    background-color: #fb565a;
}

.social-item:active {
    background-color: #d6494d;
}

.footer-text h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
}

.footer-text p {
    margin: 0;

    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

/*----------SLIDER----------*/

.slider {
    background-color: #eeeeee;
}

.slider input {
    display: none;
}

.slider-container {
     position: relative;
     width: 880px;
     min-height: 300px;
     margin: 0 auto;
     margin-bottom: 80px;
     overflow: hidden;
}

.slider-controls {
    display: inline-block;
    position: absolute;
    left: 400px;
    top: 190px;

    vertical-align: top;
}

.slide-description {
    float: left;
    width: 538px;
}

.slider-controls label {
    display: inline-block;
    width: 5px;
    height: 5px;
    margin-right: 6px;

    background: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    vertical-align: top;

    cursor: pointer;
}

#slide1:checked ~ .slider-controls label[for="slide1"],
#slide2:checked ~ .slider-controls label[for="slide2"],
#slide3:checked ~ .slider-controls label[for="slide3"] {
background-color: #c1c1c1;
}

.slides {
    display: none;
    min-height: 300px;
}

#slide1:checked ~ .main-slider .slides:nth-child(1) {
  display: block;
}
#slide2:checked ~ .main-slider .slides:nth-child(2) {
  display: block;
}
#slide3:checked ~ .main-slider .slides:nth-child(3) {
  display: block;
}

.slide-img {
    float: right;
    height: 300px;
}

.slider-title {
    margin: 17px 0;
    padding: 0;

    font-size: 36px;
    line-height: 36px;
}

.slider p {
    margin: 0;

    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

/*----------FEATURES----------*/
.features {
    padding-bottom: 80px;

    border-bottom: 2px solid #eeeeee;
}

.features-item {
    float: left;
    width: 240px;
    margin-right: 80px;
}

.features-item:last-child {
    float: right;
    margin-right: 0;
}

.features-title {
    margin: 15px 0;
    font-size: 18px;
    line-height: 30px;
}

.features-item p {
    font-size: 15px;
    line-height: 20px;
    color: #283136;
    margin: 0;
}

.features img {
    width: 240px;
    height: 124px;

}
/*----------CONTENT-MAIN----------*/

.col {
    margin-top: 60px;
}

.col:last-child {
    margin-top: 45px;
}

.col-left {
    float: left;
    width: 600px;
}

.col-right {
    float: right;
}

.col-left-title h2 {
    margin: 0;
    margin-top: 10px;

    font-size: 36px;
    line-height: 36px;
}

.col p {
    margin-bottom: 0;
    color: #283136;
}

.head {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
    text-transform: uppercase;
}

.col ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.col li {
    position: relative;

    padding-left: 37px;
    margin-top: 21px;

    color: #283136;
}

.col li::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;

    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

/*----------PARTNERS----------*/

.partners {
    margin-top: 70px;

    border-bottom: 2px solid #eeeeee;
    border-top: 2px solid #eeeeee;
}

.partners-item {
    float: left;
    width: 220px;
    height: 100px;
    margin-left: 10px;
    margin-right: 90px;
    margin-top: 45px;
    margin-bottom: 30px;

    font-size: 0;

    background: #ffffff url("../img/spritesheet.png") no-repeat;
}

.partners-item:last-child {
    margin-right: 0;
}

.glushanko {
    background-position: 5px -400px;
}

.academy {
    background-position: 5px 5px;
}

.bshop {
    background-position: 0px -180px;
}

.glushanko:hover {
    background-position: 5px -500px;
}

.academy:hover {
    background-position: 5px -85px;
}

.bshop:hover {
    background-position: 0px -285px;
}

/*----------CONTACT----------*/

.contact {
  position: relative;
  width: 100%;
  height: 416px;
  margin-top: 85px;

  background: #ffffff url("../img/map.png") no-repeat;
}

.map {
    width: 100%;
    height: 415px;
}

.contact-adres {
    position: absolute;
    top: 90px;
    left: 160px;
    width: 250px;
    height: 240px;

    background: #ffffff;
}

.contact-adres h3 {
    margin-top: 28px;

    font=size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.contact-adres p {
    color: #666666;
    font=size: 16px;
    line-height: 20px;
    text-align: center;
}

.button-feedback {
    margin: 5px 22px;
    padding: 10px 52px;

    background-color: #fb565a;
}

.button-feedback:hover {
    background-color: #d6494d;
}

.button-feedback:active {
    background-color: #b63538;
}

/*----------SHOP----------*/

.welcome {
    margin-bottom: 0px
    padding-bottom: 77px;

    background: #eeeeee;
}

.shop-title {
    padding: 0 100px;
    padding-bottom: 77px;
    margin-top: 0;
    margin-bottom: 0px;

    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
}

.side-bar {
    float: left;
    margin-top: 40px;
    margin-right: 60px;
    padding-left: 5px;
    width: 240px;
}

.filter-title {
    margin-top: 40px;
    margin-bottom: 15px;

    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weiyght: normal;
}

.cost-controls {
    position: relative;
    height: 41px;
    padding: 39px 30px 0 30px;
    margin-bottom: 12px;

    background: #f1f1f1;
    border-radius: 5px;
}

.cost-scale {
    position: absolute;
    width: 190px;
    height: 2px;
    background: #e1e1e1;
}

.cost-bar {
     position: relative;
     width: 140px;
     height: 2px;
     background: #00ca74;
}

.cost-toggle {
    position: absolute;
    content: "";
    width: 4px;
    height: 4px;
    top: -10px;

    border: 8px solid #ffffff;
    border-radius: 50%;
    background: #ABABAB;
    box-shadow: 0 2px 1px 0 #CFCFCF;
    -webkit-box-shadow: 0 2px 1px 0 #CFCFCF;
}

.cost-toggle-min {
    left: 0;
}

.cost-toggle-max {
    left: 130px;
}

.cost-box {
    margin-bottom: 40px;
}

.cost-box input {
    margin-left: 5px;
    width: 80px;
    height: 40px;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
    outline: none;

    text-align: center;
}

.cost-box label {
    margin-right: 14px;

    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #283136;
}

.filter input[type="checkbox"],
.filter input[type="radio"]{
    display: none;
}

.grid-item,
.feature-item {
    margin-bottom: 20px;
}

.label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    color: #283136;
}

.radio-custom,
.checkbox-custom {
    display: inline-block;
    position: relative;
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 14px;

    border: 2px solid #c1c1c1;
    border-radius: 4px;
}

.radio-custom {
    border-radius: 50%;
}

.feature-item input[type="checkbox"]:checked +.checkbox-custom::before {
     position: absolute;
     content: "";
     left: 20%;
     bottom: 50%;
     width: 16px;
     height: 4px;

     transform: rotate(-45deg);
     border: 5px solid #c1c1c1;
     border-style: none none solid solid;
}

.grid-item input[type="radio"]:checked +.radio-custom::before {
    position: absolute;
    content: "";
    left: 5px;
    bottom: 5px;
    width: 9px;
    height: 9px;

    background: #c1c1c1;
    border-radius: 50%;
}

.radio-custom:hover,
.checkbox-custom:hover {
    border: 2px solid #b0b0b0;
}

.label:hover {
    color:#000000;
}

.btn-filter {
    padding: 10px 47px;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;

    text-align: center;
}

.btn-filter:hover {
    background: #d0d0d0;
}

.btn-filter:active {
    background: #c0c0c0;
}

.catalog-content {
    margin-top: 40px;
    float: right;
    width: 560px;

    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-sort {
    margin-top: 40px;
    margin-bottom: 23px;
}

.catalog-sort ul {
    display: inline;
    list-style: none;
}

.catalog-sort a {
    text-decoration: none;
    color: #000000;
}

.sort a {
    color: #d0d0d0;
    border-bottom: 1px dotted #00ca74;
}

.sort a:hover {
    color: #000000;
    border-bottom: 1px solid #00ca74;
}

.sort a:active {
    color: #000000;
    border: none;
}

.catalog-sort li {
    float: left;
    display: inline;
    margin-right: 40px;
}

.catalog-sort li:last-child {
    float: right;
    margin: 0;
}

.sort-dir {
    position: relative;
}

.sort-dir-up::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -40px;

    border: 8px solid transparent;
    border-top: 8px solid #00ca74;
}

.sort-dir-down::before {
    content: "";
    position: absolute;
    bottom: -12px;
    right: 5px;

    border: 8px solid transparent;
    border-bottom: 8px solid #c1c1c1;
}

.sort-dir-up:active::before {
    border-top: 8px solid #000000;
}

.sort-dir-down:active::before {
    border-bottom: 8px solid #000000;
}

.catalog-items {
    float: right;
}

.catalog-item {
    position: relative;
    display: inline-block;
    margin-bottom: 80px;

    vertical-align: top;

    border-top: 30px solid #f1f1f1;
    border-radius: 5px;
}

.catalog-item img{
    width: 240px;
    height: 240px;
    overflow: hidden;
}

.catalog-item:nth-child(2n+1) {
    float: left;
    margin-right: 80px;
}

.catalog-item:nth-child(2n) {
    float: right;
}

.catalog-item:hover {
    border-top: 30px solid #797979;
    transition: 0.5s ease-out;
}

.catalog-item:before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    top: -20px;
    left: 13px;

    border-radius: 50%;
    background: #ffffff;
    box-shadow: 17px 0 0 #ffffff, 34px 0 0 #ffffff;
    -webkit-box-shadow: 17px 0 0 #ffffff, 34px 0 0 #ffffff;

}

.catalog-item-info {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 160px;
  height: 160px;
  padding: 20px;

  background: #ffffff;
  opacity: 0.0;
  transition: 0.2s ease-in;
}

.catalog-item:hover .catalog-item-info {
    opacity: 1.0;
}

.catalog-item-title a {
    text-decoration: none;
    color: #000000;
}

.catalog-item-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}

.item-info {
    margin: 0;

    font-size: 14px;
    line-height: 18px;
    color: #283136;
    text-transform: none;
    text-align: center;
}

.item-price {
    margin: 20px 10px;
    width: 140px;
    padding: 10px 0;

    background: #fb565a;
    color: #ffffff;
    text-align: center;
}

.item-price:hover {
    background: #d6494d;
}

.item-price:active {
    padding-top: 7px;

    background: #b63538;
    border-top: 3px solid #9b2d30;
}

.paginator {
    float: left;
    width: 285;
}

.paginator ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.paginator li {
    display: inline-block;
    margin-right: 10px;

    text-transform: none;
    text-align: center;
    vertical-align: top;
}

.paginator a {
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.button-paginator {
    background: #f1f1f1;
}

.paginator-active {
    background:#f9f9f9;
}


/*----------FEEDBACK---------*/

.popup-feedback {
    display: none;
    position: fixed;
    padding: 60px 90px 40px 80px;
    width: 460px;
    top: 20%;
    left: 50%;
    margin-left: -270px;
    z-index: 20;

    background: #ffffff;
    box-shadow: 0 20px 50px rgba(0, 1, 1, 0.5);
}

.popup-feedback-show {
    display: block;
}

.popup-feedback-animation {
    animation: feedback 0.7s;
}

.popup-error {
    animation: error 0.7s;
}

.close-popup {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 40px;
    height: 40px;

    font-size: 0;

    border: none;
    border-radius: 50%;
    background: #fb565a;

    cursor: pointer;
}

.close-popup::before,
 .close-popup::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 4px;

    background: #ffffff;
}

.close-popup::before {
    right: 4px;
    top: 18px;
    transform: rotate(45deg);
}

.close-popup::after {
    right: 4px;
    top: 18px;
    transform: rotate(-45deg);
}

.form-input-half {
    display: inline-block;
    width: 220px;
    margin-right: 15px;

    vertical-align: top;
}

.form-input-half:nth-child(2) {
    margin-right: 0px;
}

.feedback-form-text {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 196px;

  border: 2px solid #D7DCDE;
  outline: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  resize: none;

  text-transform: uppercase;
  color: #000000;
  font-size: 12px;
  line-height: 18px;
}

.feedback-form-text:hover {
  border: 2px solid #A2A9AC;
}

.feedback-form-text:focus {
  border: 2px solid #56BFFB;
}

.textarea-box .feedback-form-text {
    width: 435px;
}

.submit-feedback {
    width: 100%;
    margin: 10px 0;
    padding: 10px 52px;

    background-color: #fb565a;
}

.submit-feedback:hover {
    background-color: #d6494d;
}

.submit-feedback:active {
    background-color: #b63538;
}


.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.overlay-show {
    display: block;
    animation: background 0.6s;
}